.react-calendar {
  background: white;
  border: none;
  font-family: sans-serif;
}

.react-calendar__navigation {
  display: none; /* Hide navigation */
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
}

.react-calendar__tile {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.react-calendar__tile:hover {
  background: #e2e8f0;
}

/* .selected-day {
  background: #3b82f6 !important;
  color: white !important;
} */
